<!DOCTYPE html>
<html>
<head>
    <title>Meditation</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
<section id = "jumbotron">
      <div class = "perfect-center" id = "overlay">
        <h1 id = "jumbo-context">Welcome to Marli and Hanna's Meditation App</h1>
      </div> 
</section> 
<h3>In this website we have a variety of calming sounds that will ease you mind. The different sounds we have are:</h3>
<ul>
    <li><a href="/index1.html">Crashing Waves</a></li>
    <li><a href="/index2.html">Fire</a></li>
    <li><a href="/index3.html">Rain</a></li>
    <li><a href="/index4.html">Street Noise</a></li>
    <li><a href="index5.html">Birds</a></li>
</ul>
</body>
</html>