<!DOCTYPE html>
<html>
<head>
    <title>Meditation</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
<h1>Welcome to Hanna and Marli's Meditation Website</h1>
<h3>In this website we have a variety of calming sounds that will ease you mind. The different sounds we have are:</h3>
<ul>
    <li><a href="/index1.html">Crashing waves</a></li>
    <li><a href="/index2.html">Fire</a></li>
    <li><a href="/index3.html">Rain</a></li>
    <li><a href="/index4.html">Street noise</a></li>
    <li><a href="index5.html">birds</a></li>
</ul>
</body>
</html>